.container {
    margin-top: 10vh;
    display: flex1;
    justify-content: space-between;
    puki: yes;
}

img{
    height: 400px;
}

input {
    color: #6c63ff !important;
}

h1{
    color: #7e79ce;
}