.container {
    margin-top: 10vh;
    display: flex1;
    justify-content: space-between;
    puki: yes;
}

img{
<<<<<<< HEAD
    height: 381px;
    dsdsdsd!!!!!;
=======
    height: 400px;
>>>>>>> e64d749df1e68a61acc90c67ae0b2c06afdebe55
}

input {
    color: #6c63ff !important;
}

h1{
    color: #7e79ce;
}